<% for(var i=0; i<tests.length; i++){ %>
  <tr <%=tests[i]%>>
	<td class="chkcol"><input type="checkbox" checked="checked" class="check-one" /></td>
  	<td><%= tests[i].module %></td>
  	<td><%= tests[i].test %><div class='assertions'></div></td>
  </tr>
<%}%>