
# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
site/node_modules/

# Documentation
docs/
!doc/guides/
guides/

# Site
!site/lib/
!site/**/lib/

# Misc (move these as appropriate)
dist/**
dist/
lib
build
*.orig
.DS_Store
.idea/
static
index.html
