<div class="coverage-wrapper">
	
<h3><span class="image"></span><span class='title'>Code Coverage</span><a href="#" id="closeButton" class="back" style='display:none;'></a></h3>

<div class="table-wrapper">

<div class='stats'>
	<div class='line'>Total Line Coverage: <span class='stat'></span></div>
	<div class='block'>Total Block Coverage: <span class='stat'></span></div>
</div>
<table id='report' cellspacing="0" cellpadding="0">
	<tr>
		<th>File Name</th>
		<th>Total Lines</th>
		<th>Line Coverage</th>
		<th>Total Blocks</th>
		<th>Block Coverage</th>
	</tr>
</table>

<table id='file' cellspacing="0" cellpadding="0"></table>

</div>
</div>