<div class="header">
	<div class="header-wrapper">
		<h1>FuncUnit Testing Suite</h1>
		<a href="#" id="closeButton" style="display:none;" class="back">Back</a>
	</div>
</div>

<div class="coverage-wrapper">

	<div class="overall-stats">
		<span class="total-line-coverage"></span>
		<span class="total-block-coverage"></span>
	</div>
	
	<div class="tabs-container">
		<a href="#" class="btn-tab btn-pressed" id="report-tab">Coverage Report</a>
		<a href="#" class="btn-tab btn-hidden" id="file-tab">Lines Covered</a>
	</div>
	
	<table id='report' cellspacing="0" cellpadding="0">
		<tr>
			<th>File Name</th>
			<th>Total Lines</th>
			<th>Lines Coverage</th>
			<th>Total Blocks</th>
			<th>Block Coverage</th>
		</tr>
	</table>

	<table id='file' cellspacing="0" cellpadding="0"></table>

</div>